{% load static %}
<div class='card' >
    <div class="card-body">
        <h3 class='card-title text-center'>{{list.title}}</h3>
        <hr>
        <form class="d-flex justify-content-center my-2">
            <input hx-post="{% url 'add_item' list.pk %}" hx-target="#card-{{list.pk}}" name='item' hx-trigger'submit' class="form-control mx-2" placeholder="add to list" type="text">
            <button class='btn btn-primary'>+</button>
        </form>
        
  
        <div >
            <div style="height: 400px; overflow-y: scroll;" class=" list-container">
                {% for item in list.shopping_list_items.all %}
                    <div class='my-1 d-flex justify-content-between'>
                        <span>{{item.name}}</span>
                        <img hx-post={% url 'remove_item' list.pk item.pk %} hx-target="#card-{{list.pk}}" style='cursor: pointer;' src="{% static 'img/delete.png' %}" class='px-2'>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    </div>
    <div class="card-footer bg-success d-flex justify-content-around">
        <button class='btn btn-small btn-warning'>Clear List</button>
        <button class='btn btn-small btn-secondary'>PDF</button>
        <button class='btn btn-small btn-danger'>Delete</button>
    </div>
    
</div>