{% extends 'base.html' %}

{% block content %}

<section class='p-1 my-5'>
    <div class="container mb-5 d-flex flex-column align-items-center">
        <div class='d-flex justify-content-between'>
            <h2>hello, {{user.username}}</h2>
        </div>
      {% include 'shopping_list/partials/new_list.html' %}


        {% if shopping_lists %}
            <p class="mt-1">You can add and update your shopping lists below!</p>
        {% else %}
            <p class="mt-5">Add a list to get started</p>
        {% endif %}
        

    </div>



    <div class="container">
        <div id="shopping-wrapper" class="row">
            {% if shopping_lists %}
                {% include 'shopping_list/partials/lists.html' %}
            {% endif %}
        </div>
    </div>


</section>
<script>

    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
    });

</script>
{% endblock content %}